{% extends 'base.html' %}

{% block content %}
    {% if current_user.is_authenticated%}
        <h3>{{ current_user.username.title() }}'s Pokémon Roster</h3>
    {% endif %}

    <div class="row">
        {% for p in team %}
            <div class="card" style="width: 18rem;">
                <img src="{{ p.img_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{ p.name.title() }}</h5>
                    <strong>Ability: {{ p.ability }}</strong>
                    <li>HP: {{ p.hp }}</li>
                    <li>ATK: {{ p.attack }}</li>
                    <li>DEF: {{ p.defense }}</li>
                </div>
                    <a href="/release/{{ p.name }}" class="btn btn-danger">release</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}