{% extends 'base.html' %}

{% block content %}

        <div class="card" style="width: 18rem;">
            <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpurepng.com%2Fpublic%2Fuploads%2Flarge%2Fpurepng.com-pokeballpokeballdevicepokemon-ballpokemon-capture-ball-17015278258617bdog.png&f=1&nofb=1" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Team {{ team.id }}</h5>
            <p class="card-text">{{ team.pokemon1 }}</p>
            <p class="card-text">{{ team.pokemon2 }}</p>
            <p class="card-text">{{ team.pokemon3 }}</p>
            <p class="card-text">{{ team.pokemon4 }}</p>
            <p class="card-text">{{ team.pokemon5 }}</p>
            {% if current_user.id == team.user_id %}
            <a href="{{ url_for('poke.editTeam', team_id=team.id) }}" class="btn btn-success">Edit</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    This action cannot be undone!
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a type="button" class="btn btn-danger" href="{{ url_for('poke.deleteTeam', team_id=team.id) }}">Delete</a>
                    </div>
                </div>
                </div>
            </div>
            {% endif %}
            </div>
        </div>
        

{% endblock %}