{% extends 'base.html' %}

{% block content %}

    <h3>Sign Up</h3>
    <form class="container" method="POST">
        {{ form.hidden_tag() }}

        {{ form.username(class='form-control', placeholder='Username', autocomplete='off') }}
        {{ form.email(class='form-control', placeholder='Email', autocomplete='off') }}
        {{ form.password(class='form-control', placeholder='Password', autocomplete='off') }}
        {{ form.confirm_password(class='form-control', placeholder='Confirm Password', autocomplete='off') }}
        {{ form.submit(class='btn btn-success') }}
    </form>

{% endblock %}
<!-- hidden_tag - needed for all forms|csrf token generated for validators -->
<!-- need to access everything in the form individually -->